
@media screen and (max-width : 950px) {
    * {
        padding : 0;
        margin: 0;
        box-sizing: border-box;
        font-size : 14px;
    }
}
@media screen and (max-width : 767px) {
    * {
        font-size : 12px; 
        max-width: 100%;
    }
    :root {
        --tim : #321d5e;
        --tieudephu : #52407b;
    }
    .tieude h1 {
        width : 60%;
        margin : 0 auto;
        font-size: 1.2rem;
        display : block;
        padding : 5px;
    }

/* -----------------Thanh menu-------------------------------------- */
    #sidebarMenu {
        position: fixed;
        right: -100%; 
        top: 0;
        height: 60%;
        width: 50%;
        flex-direction: column;
        transition: left 0.3s ease;
        z-index: 9999;
        font-size: 1rem;
    }
    .mucLucs ul.mucLucs {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .mucLucs ul.mucLucs li {
        width: 100%;
    }
    .mucLucs ul.mucLucs li a {
        display: block;
        padding: 8px;
        margin-left: 15px;
    }
    .mucLuc li {
        margin : 10px;
    }

    .mucLuc > li > a {
        border-bottom : 1px solid lightgray;
        margin : 0;
        padding : 10px;
        font-size: 0.8rem;
        width : 100%;
    }
    .logoTruong {
        display: none; 
    }
    #sidebarMenu.show {
        right: 0;
    }
    #closeMenu {
        display: block;
        padding: 5px 10px;
        cursor: pointer;
        color: white;
        text-align: right;
    }
    .menuDt {
        display : block; 
        z-index : 9999;
        background-color : white;
        display : flex;
        margin : 0;
        width : 100%;
    }
    .menuDt img {
        width : 20rem;
    }
    #menuBtn {
        display : flex;
        width : 3rem;
        height : 3rem;
        padding : 1rem;
        background-color: var(--tim);
        align-items: center;
        z-index : 1000;
        cursor: pointer;
        margin : 0.5rem 1rem;
        color : white;
        margin-left : auto;
    }
    #gotoTop {
        right : 10px;
        bottom : 20px;
        width : 30px;
        height : 30px;
        font-size: 20px;
        font-weight: 500;
        padding : 5px;
    }
/* -----------------TIN NOI BAT-------------------------------------- */
    h1.tieude {
        font-size: 1.5rem;
        padding : 10px;
        margin : 0 auto 0.5rem;
        width : 60%;
        line-height: 2rem;
    }
    .gallery {
        width : 300px;
        margin : 0 auto;
    }
    .listImg {
        width : 100%;
    }
    .listImg .image{
        flex: 0 0 300px;
        height : 200px;
    }
    .listImg img {
        width : 300px;
        height : 150px;
    }
    .imgText {
        font-size : 0.8rem;
        font-weight: bold;
        padding : 15px;
    }
    .btn {
        padding : 0px;
        font-size : 0.5rem;
    }   
    .newsItem h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .newsItem p {
        font-size: 0.8rem;
        color: #c9bdbd;
    }
}